@import url('/css/desktop/common.css');
@import url('/css/desktop/awards.css');

#ftc-banner {
    width: 100%;
    overflow: hidden;
}

#ftc-banner > img {
    width: 100%;
    border-radius: 10px;
}


#intro-div {
    padding: 25px;
    width: calc(100% - 2 * 25px);
    display: flex;
    flex-direction: row;
    gap: 30px;
}


#intro-left {
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-top: -30px;
    
}

#intro-left > div {
    width: 400px;
}

.intro-logo {
    width: 100%;
}





#sponsors-div {
    padding: 25px;
    width: calc(100% - 2 * 25px);
    display: flex;
    flex-direction: row;
    gap: 30px;
}


#sponsors-right {
    margin-top: -50px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

#sponsors-right > div {
    width: 400px;
}

.sponsors-logo {
    width: 100%;
}

#ksa-logo {
    width: calc(100% - 40px);
    margin-left: 20px;
}